.cartItem {
  align-items: center;
  background-color: lightblue;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  margin: 10px;
  padding: 10px;
}
.cartItem img {
  height: 100px;
  object-fit: contain;
  width: 100px;
}

.cartItem p {
  font-size: 18px;
  margin: 10px;
  width: 20%;
}
